.driver-main {
  text-align: center;
  padding: 20px; }

div + div {
  padding: 10px; }

.counter {
  font-size: 18px;
  font-weight: 600; }

.status {
  color: white;
  padding: 5px;
  border-radius: 50px; }
  .status.inactive {
    background-color: red; }
  .status.active {
    background-color: green; }

.error {
  color: red; }

.btn {
  padding: 10px 20px;
  border: none;
  color: white;
  background-color: #333333fb;
  border: 1px solid white; }
  .btn.inactive {
    background-color: #333333fb; }
  .btn.active {
    background-color: #b30000 !important; }
