.driver-main {
    text-align: center;
    padding: 20px;
}

div+div {
    padding: 10px;
}

.counter {
    font-size: 18px;
    font-weight: 600;
  }

.status {
    color: white;
    padding: 5px;
    border-radius: 50px;

    &.inactive {
        background-color: red;
    }

    &.active {
        background-color: green;
    }
}